$WhiteColor: #ffffff;
$TecColor: #1b396a;
$GrayColor: #495057;

@mixin WidthHeightValues($wValue, $hValue: "") {
  @if ($hValue == "") {
    width: $wValue;
    height: $wValue;
  } @else {
    width: $wValue;
    height: $hValue;
  }
}

@mixin TRBL($topValue: "", $rightValue: "", $bottomValue: "", $leftValue: "") {
  top: $topValue;
  right: $rightValue;
  bottom: $bottomValue;
  left: $leftValue;
}